.geosuggest {
    font-size: 18px;
    font-size: 1rem;
    position: relative;
    width: 80%;
    text-align: left;
}
.geosuggest__input {
    font-family: georgia;
    width: 90%;
    height: 17px;
    border-radius: 5px;
    padding: .5em 1em;
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-color: #a6a6a6;;
    outline: none;
    cursor: pointer;
}
.geosuggest__input:focus {
    border-color: #a6a6a6;;
    box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: -1px;
    background: #f8f8f8;
    border: 2px solid #a6a6a6;;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    -webkit-transition: max-height 0.2s, border 0.2s;
    transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
    font-size: 18px;
    font-size: 1rem;
    padding: .5em .65em;
    cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
    background: #f8f8f8;
}
.geosuggest__item--active {
    background: #a6a6a6;;
    color: #f8f8f8;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
    background: #ccc;
}
.geosuggest__item__matched-text {
    font-weight: bold;
}